<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <div>Board</div>
  
  <% if (locals.user) { %>
    <h2>Welcome back, <%= user.firstname %></h2>
    <a href="user/log-out">Log out</a>
  <% } else { %>
    <a href="/user/log-in">Log-in</a> or
    <a href="/user/sign-up">Sign-up</a>
  <% } %>
</body>
</html>