<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/index.css">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <div>Board
    <%- include("messages/messageBoard", { user: user }) %>
  </div>
  
  <% if (locals.user) { %>
    <h2>Welcome back, <%= user.firstname %></h2>
    <div>
      <p>Do you want to join our <a href="user/join-club">special club</a>?</p>
      
      <a href="messages/new">Create a new message!</a>
      
    </div>
    <a href="user/log-out">Log out</a>
  <% } else { %>
    <a href="user/log-in">Log-in</a> or
    <a href="user/sign-up">Sign-up</a>
  <% } %>
</body>
</html>