<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <form action="./log-in" method="POST">
    <% if (locals.error) { %>
      <p><%= error[0] %></p>
    <% } %>
    <label>User e-mail: 
      <input type="email" name="email" id="email" placeholder="Enter your e-mail" />
    </label>
    <label>Password: 
      <input type="password" name="password" id="password" />
    </label>
    <button type="submit">log in</button>
  </form>  
  <p>Don't have an account? <a href="./sign-up">Sign up!</a></p>
  <a href="/">back</a>
</body>
</html>